.Tulisan_satu{
    color: red;
    font-family:sans-serif ;
    font-style: normal;
}
.Tulisan_dua{
    color: green;
    font-size: 24pt;
    font-style: normal;
}
.Tulisan_tiga{
    color: blue;
    font-weight: bold;
    font-style: oblique;
}